name: Validate Readme Files 

on:
  pull_request_target:
    paths: 'Simulations/**/README.yaml'

permissions:
  contents: read
  pull-requests: write

jobs:
  Check-Readme:
    runs-on: ubuntu-latest
    env:
      FMDL_DATA_PATH: ${{ github.workspace }}/BilayerData

    steps:
      - name: Checkout BilayerData
        uses: actions/checkout@v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          path: BilayerData
          persist-credentials: false

      - name: Install the gh cli
        uses: ksivamuthu/actions-setup-gh-cli@v3
        with:
          version: 2.83.0

      - name: Install FAIRMD_lipids dependencies
        run: |
          pip install git+https://github.com/NMRLipids/FAIRMD_lipids.git

      - name: Find changed readme.yaml files
        working-directory: BilayerData
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
            python -m fairmd.lipids.schema_validation.validate_yaml --schema readme $(find Simulations -name README.yaml)

